* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo da página */
body {
    background-color: rgb(174, 203, 236);
    color: #52e0bd;
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 80px;
}

/* Título */
h1 {
    text-transform: uppercase;
    opacity: 3.0;
    color: #fffdf9;
    border: 4px solid #3b2e10;
    border-radius: 1.8rem;
    background-color: rgba(134, 168, 199, 0.7);
    padding: 40px 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: 80%;
    font-size: 2.5rem;
}

/* Container central */
.conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    background-color: rgb(221, 191, 255);
    padding: 10px 10px;
    border-radius: 16px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
    justify-content: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 10px solid rgb(255, 255, 255);
    width: 40rem;
    
}

.container:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
}

/* Campo de entrada */
input {
    border: none;
    text-align: center;
    outline: none;
    padding: 0.7rem 1.2rem;
    border-radius: 1.5rem;
    background-color: rgb(183, 220, 255);
    font-size: 1rem;
    width: 100%;
    transition: 0.3s;
    cursor: pointer;
    margin: 1rem;
}

input:focus {
    background-color: rgb(133, 190, 228);
    box-shadow: 0 0 6px rgba(207, 184, 140, 0.6);
}
/* Labels */
label{
    font-weight: 900;
    font-size: 1.5rem;
    color: #b197e2;
}

/* Botão */
#bnt {
    padding: 0.7rem 1.5rem;
    margin-top: 0.8rem;
    border-radius: 1.2rem;
    border: none;
    background-color: rgb(108, 141, 230);
    color: white;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

#bnt:hover {
    background-color: rgb(117, 124, 235);
    transform: scale(1.05);
}

/* Resultado */
#resul {
    margin-top: 10px;
    font-size: 1.1rem;
    font-weight: 600;
    color: #8e92d1;
    background-color: rgba(187, 187, 187, 0.7);
    border-radius: 12px;
    padding: 10px 20px;
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1);
    width: fit-content;
}